@import "tailwindcss";

body {
  background-color: #f8f9fa;
  color: #333333;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  input:focus, textarea:focus, select:focus {
    font-size: 16px !important;
  }
}